<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ "/blog" | relative_url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Blog
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ "/posts" | relative_url }}">All Articles</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ "/category/attitude" | relative_url }}">Attitude</a>
            <a class="dropdown-item" href="{{ "/category/connecting" | relative_url }}">Connecting</a>
            <a class="dropdown-item" href="{{ "/category/inspiration" | relative_url }}">Inspiration</a>
            <a class="dropdown-item" href="{{ "/category/leadership" | relative_url }}">Leadership</a>
            <a class="dropdown-item" href="{{ "/category/learning" | relative_url }}">Learning</a>
            <a class="dropdown-item" href="{{ "/category/problems" | relative_url }}">Problems</a>
            <a class="dropdown-item" href="{{ "/category/tenacity" | relative_url }}">Tenacity</a>
            <a class="dropdown-item" href="{{ "/category/thinking" | relative_url }}">Thinking</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/about" | relative_url }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/contact" | relative_url }}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
