.masthead {
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {  /* Tablets */
    .masthead {
        min-height: 400px;
    }
}

@media (max-width: 480px) {  /* Smartphones */
    .masthead {
        min-height: 300px;
    }
}
.post-category {
    font-size: 10px;
}
