// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";

// Global Body Font
body {
    font-family: 'Roboto', sans-serif;
}

// Specific Font for Headings
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

// Font for Paragraphs
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

